.dropdown
  position: absolute

  &__item
    display: table
    width: 100%
    padding: 10px 0

    &-image
      display: table-cell
      vertical-align: middle
      width: 40px
      height: 40px
      background-size: cover
      background-position: center center
      background-repeat: no-repeat

    &-title
      display: table-cell
      vertical-align: middle
      padding-left: 15px
      font-size: 16px
      line-height: 20px
